/* setup project */
@font-face {
  font-family: 'editorial';
  src: url(PPEditorialNew-Regular.woff);
}

@font-face {
  font-family: 'editorial-italic';
  src: url(PPEditorialNew-Italic.woff);
}

body {
  margin: 0;
  padding: 0;
}



  div {
    box-sizing:border-box;
  }
  
  img {
    width:100%;
  }

  video {
    width:100%;
  }
  
  /* typography */

  div.editorial {
    font-family: 'editorial';
    font-size: 22pt;
    margin-left: 5pt;
  }

  div.

  div.editorialitalic {
    font-family: 'editorial-italic';
    font-size: 18pt;
  }
  
  div.xltext {
    font-size: 40pt;
  }

  div.largetext {
    font-size:29pt;
    line-height:32pt;
  }
  
  div.mediumtext {
    font-size:27px;
    line-height:32px;
  }
  
  div.smalltext {
    font-size:14pt;
    line-height:16pt;
  }

  div.tinytext {
    font-size: 6pt;
  }
  
  div.sans {
    font-family: helvetica;
    font-weight: bold;
    letter-spacing: -0.5px;
  }

  div.sans2 {
    font-family: helvetica;
    font-weight: bold;
    letter-spacing: -0.75px;
  }

  div.tight {
    letter-spacing: -0.5px;
  }
  
  div.serif {
    font-family: times;
  }

  div.mono {
    font-family: monospace;
  }

  div.italic {
    font-style: italic;
  }

  div.centred {
    text-align: center;
  }

  div.indent {
    text-indent: 40pt;
  }

  div.caps {
    
  }

  div.justify {
    text-align: justify;
    text-justify: inter-word;
    letter-spacing: -1px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -webkit-hyphenate-limit-before: 3; /* For Safari */
    -webkit-hyphenate-limit-after: 4; /* For Safari */
    hyphenate-limit-chars: 10 3 4; 
  }

  div.mono {
    font-family: monospace;
  }
  
  /* colours */
  
  div.purple {
    color:#6300f8;
  }
  
  div.white {
    color:white;
  }
  
  div.bgblue {
    background-color: blue;
  }

  div.bgblack {
    background-color: black;
  }

  div.bggreen {
    background-color: #00ff00;
  }

  div.gradpurple {
    background: rgb(159,43,224);
    background: linear-gradient(0deg, rgba(159,43,224,1) 60%, rgba(255,255,255,0) 100%);
  }

  div.bggrey {
    background-color: #c2bec7;
    margin: 10pt;
  }

  div.gradgreen {
    background: rgb(0,255,0);
    background: linear-gradient(0deg, rgba(0,255,0,1) 60%, rgba(255,255,255,0) 100%);
  }

  div.multiply {
      mix-blend-mode: multiply;
  }
  
  /* layout */
  
  div.w75 {
    width: 75%;
    padding:5px;
  }
  
div.w50 {
  width: 50%;
  padding: 5px;
}
  
  div.w33 {
    width: 33.333%;
    padding:5px;
  }
  
  div.w25 {
    width: 25%;
    padding:5px;
  }

  div.margintop150 {
    margin-top: 150px;
  }

  div.margintop75 {
    margin-top: 75px;
  }

  div.margintop50 {
    margin-top: 50px;
  }

  div.paddingtop75 {
    padding-top: 75px;
  }

  div.paddingtop25 {
    padding-top: 25px;
  }

  div.marginqtr {
    margin-left: 25%;
  }

  div.marginhalf {
    margin-left: 50%;
  }

  div.margin5 {
    margin-left: 5pt
  }

  div.curved {
    border-radius: 50px;
  }
  
  div.curvedimg img {
    border-radius: 50px;
    border: 5px solid #c2bec7;
    margin: 5px;
  }

  div.curvedimg video {
    border-radius: 50px;
    border: 5px solid black;
    margin: 5px;
  }

  /* design */

  /* one class method */

  div.scroll{
    background:black;
    color:white;
    overflow:hidden;
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    animation: backgroundcolor 2s infinite linear alternate;
  }
  
  div.scrollingtext {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: light;
    font-size: 21px;
    background-color: black;
    color: white;
    /* margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px; */
    white-space: nowrap; 
    animation: movingtext 20s infinite linear;
  }
  
  @keyframes movingtext{
    0% { 
      translate:100%;
    }
    100%{
      translate:-100%;
    }
  }

  div.title {
    margin-top: 40px;
    color: black;
    height: 25vw;
    /* background-image: url("./images/worm@300x.png"); */
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;

  }

  div {
    box-sizing:border-box;
  }


  
  div.container {
    display:flex;
    flex-wrap:wrap;
  }
  
  div.item {
    /* padding-left:40px;
    padding-right:40px;
    padding-top:10px;
    padding-bottom:10px; */
    width:50%;
    height:100vh;
    overflow:scroll;
    padding-top: 40px;
  }
  
  div.left {
    /* background-color:whitesmoke; */
    /* margin-left: -10px; */
    /* padding-left: -5px; */
  } 
  
  div.right {
    flex-wrap: wrap;
    /* padding-left: 10px; */
  }

  div.margin50 {
    margin-left: 50%;
  }

  div.h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    border: 5px solid black;
    margin-bottom: 10px;
    border-radius: 35px;
    padding: 10px;
    width: fit-content;
    block-size: fit-content;
    letter-spacing: -1px;
  }

  div.h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40pt;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    border: 8px solid black;
    margin-bottom: 10px;
    border-radius: 50px;
    padding: 10px;
    width: fit-content;
    block-size: fit-content;
    letter-spacing: -1px;
  }

  div.h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    border: 8px solid black;
    margin-bottom: 10px;
    border-radius: 50px;
    padding: 10px;
    width: fit-content;
    block-size: fit-content;
    letter-spacing: -1px;
    font-size: 30pt;
  }

  div.overlay1 {
    background-image: url("images/overlay.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  div.overlay2 {
    background-image: url("images/worm-2.png");
    background-size: auto;
    background-repeat: no-repeat;
  }

  div.overlay3 {
    background-image: url("images/overlay-3.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  div.overlay4 {
    background-image: url("images/overlay-4.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  div.overlay5 {
    background-image: url("images/overlay-5.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  div.overlay6 {
    background-image: url("images/overlay-6.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  div.overlay7 {
    background-image: url("images/overlay-7.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  div.overlay8 {
    background-image: url("images/overlay-8.png");
    background-size:cover;
    background-repeat: no-repeat;
  }

  div.overlay9 {
    background-image: url("images/overlay-9.png");
    background-size:cover;
    background-repeat: no-repeat;
  }

  div.overlay10 {
    background-image: url("images/overlay-10.png");
    background-size:cover;
    background-repeat: no-repeat;
  }

  div.worm3 {
    background-image: url("images/worm-3.png");
    background-size: auto;
    background-repeat: no-repeat;
    /* mix-blend-mode:exclusion; */
  }

  div.worm5 {
    background-image: url("images/worm-5_1.svg");
    background-size:cover;
    background-repeat: no-repeat;
  }

  div.worm6 {
    background-image: url("images/worm-6_1.svg");
    background-size:auto;
    background-repeat: no-repeat;
  }

  div.cells {
    background-image: url(images/nose.png);
    background-size: auto;
    background-repeat: no-repeat;
    mix-blend-mode: difference;
  }

  div.title2 {
    font-size: 11.3vw;
    /* width: 100%; */
    height: 11.3vw;
    overflow: hidden;
    white-space: nowrap;
    font-family: editorial;
    /* letter-spacing: -1.5pt; */
  }

  div.phone {
    margin-left: auto;
    margin-right: auto;
  }